
/* Begin anebix-world/discord-css/css/toggleable/add-servers-mentionedfirst.css */


[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label], 
[id^=folder-items-] 
 { display: flex; 
   flex-direction: column; } 


[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_])
 { order: -1; }



/* End anebix-world/discord-css */

/* Begin anebix-world/discord-css/css/toggleable/hide-channels-invitebutton.css */



[class^="iconVisibility_"] [aria-label="Create Invite"] {
    display: none !important;
}
[class^="iconVisibility_"] [class^="channelInfo_"] {
    display: flex !important;
}

/* End anebix-world/discord-css */
